.fotter {
    padding: 50px 0px;
    background-color: #000000;
    color: #fff;
}

.footer__wrapper {
    display: flex;

    justify-content: space-between;
    column-gap: 2rem;

}
.logo .h22{
    color: #fff;
}

.footer__box {
    width: 30%;
}

.footer__box p {
    color: #fff;
    line-height: 28px;
    margin-top: 20px;
}

.footer__title {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;

}

.footer__links li {
    line-height: 28px;
}

.footer__links li a {
    color:#fff;
    cursor: pointer;
}

.footer__links li a:hover {
    color: #219F94;
}

.copyright {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: .9rem;
}